body {
    font-family: Arial, sans-serif;
    text-align: left;
    background-color: #f0f0f0; /* Domyślne tło dla dolnej części strony */
    margin: 0;
}

header {
    background-color: #000; /* Czarne tło dla górnej części strony */
    padding: 20px;
    color: #fff; /* Biały kolor tekstu */
    text-align: center;
}

h1 {
    margin: 0;
}

.widget-container {
    display: flex;
    justify-content: center;
}

.widget {
    margin: 10px;
    background-color: #fff;
    padding: 10px;
}